* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  padding: 25px;
  color:#ff9e00;   /* Farbe orange */
  font-size:30pt;  /* Größe 28pt   */
  font-family:Arial, Helvetica, sans-serif; /* Schriftart */
}

a {
  color: #fcbf5b;
}

a:hover {
  color: #fcbf5b;
}

.footer {
  width: 100%;
  background-color: #424242;
  color: white;
}

.abteil {
  width: 100%;
  background-color: #424242;
  color: white;
}

table, th, tr, td{
  border-collapse: collapse;
}

table{
  margin-left: auto;
  margin-right: auto;
}

td, th{
  border: 1px solid #ddd;
  padding: 8px;  
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f2ae3f;
  color: white; 
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.delete {
  background-color: #cc5e4e !important;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete:hover {
  background-color: #c96557 !important;
}

.modify {
  background-color: #f2ae3f !important;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modify:hover {
 background-color: #fcbf5b !important; 
}

.modifyinput {
 background-color: #fcd38d; 
}

.modifyinput:hover {
 background-color: #fad79b; 
}


input[type=text], input[type=number] {
  /*width: 100%;*/
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  /*width: 100%;*/
  background-color: #f2ae3f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fcbf5b;
}

input[type=reset] {
  /*width: 100%;*/
  background-color: #f2ae3f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #fcbf5b;
}

#death {
  background-color: #ff0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
