Header set Access-Control-Allow-Origin 'https://preview.openprocessing.org'

#Protect single file
<Files admin.php>
AuthName "Dialog prompt"
AuthType Basic
AuthUserFile /.htpasswd
Require valid-user
</Files>

RewriteEngine On
## To internally redirect /dir/foo to /dir/foo.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.+?)/?$ $1.php [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

